build/
.git/
.vscode/
__pycache__/
.DS_Store
*.swp
exercises/ex1_fma.mlir
exercises/ex2_fma_optimized.mlir
exercises/ex2_fma_variant.mlir
exercises/ex3_fma_broken.mlir
exercises/ex4_fma_roundtrip.mlir
exercises/ex4_fma_roundtrip.sv
exercises/ex5_aig.mlir
exercises/ex5_aig_optimized.mlir
exercises/ex5_aig_optimized.sv
exercises/ex5_aig_synth.mlir
exercises/ex5-reports/
exercises/ex6_hw_arith.mlir
exercises/ex6_hw_comb.mlir
exercises/ex6_float_hw_arith.mlir
exercises/ex7_function_comb.mlir
exercises/ex7_hw_comb.mlir
exercises/ex7-check/
exercises/ex8_square_generic.mlir
exercises/ex8_square_intermediate.mlir
exercises/ex8_square_specialized.mlir
